.header {
    position: relative;
    height: 100vh;

    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -99;
    }

    // falta arreglar algunas vistas y hacerlo mas responsive
    @media (max-width: $screen-md) {
        position: static;
        height: 100%;

        #myVideo {
            position: static;
            width: 100%;
            height: auto;
        }
    }
    .headerContent{
        @media (min-width: $screen-md){
            height: 100vh;
        }
        flex-direction: row-reverse;
    }
    .reminderInvitation {

        padding: 30px 60px;
        min-height: auto;
        background: $StandardGrey;
        width: 365px;
        @media (max-width: $screen-md){
            text-align: center;
        }
        .reminderTitle {
            font-size: 2em;
            font-weight: bold;
        }

        p {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 12px;
        }

    }
    a{
        color: white;
    }
    .activateContainer{
        position: absolute;

        // estilos para mobile
        @media (max-width: $screen-md){
            position: static;
            display: inline-block;
            background-color: $primary-color;
            text-align: center;
            border-radius: 30px 30px 0px 0px;
            
            h3{
                font-size: .3rem;
            }
        }
    
        bottom: 0;
        padding: 12px;
        background-color: $primary-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: bold;
        text-align: left;
        padding-left: 50px;
        //border-radius: 10px 10px 0px 0px;
        h3{
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
}