.heroQuoteSection{
    position: relative;
    margin-top: 200px;
    margin-bottom: 200px;
    .rightHeroPhrase{
        font-size: 3rem;
        font-weight: bold;
        text-align: right;
    }
    .leftHeroPhrase{
        font-size: 3rem;
        font-weight: bold;
        transform: translateY(50%);
    }
    .emphasis{
        color: $primary-color;
    }
}