$color-green: $primary-color;

$circle-size: 60px;

.circle,
.circle-border {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
}
.circle {
  z-index: 1;
  position: relative;
  background: #0f0f0f;
  transform: scale(1);
  animation: success-anim 700ms ease;
}
.circle-border {
  z-index: 0;
  position: absolute;
  background: $color-green;
  transform: scale(1.1);
  animation: circle-anim 400ms ease;
}

@keyframes success-anim {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}

.success::before,
.success::after {
  content: "";
  display: block;
  height: 4px;
  background: $color-green;
  position: absolute;
}

.success::before {
  width: 17px;
  top: 58%;
  left: 23%;
  transform: rotateZ(50deg);
}

.success::after {
  width: 30px;
  top: 50%;
  left: 35%;
  transform: rotateZ(-50deg);
}
