.contactWrapper {
  background-color: #131313;
  background-color: #131313;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  .labelContact {
    font-size: 2rem;
    font-weight: 600;
  }
  .contactHelp {
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    color: #7a7a7a;
  }

  .form-control {
    background: #2e2e2e;
    border-radius: 5px !important;
    border: none;
    color: #7a7a7a;
  }
}
