.h-wrapper {
    height: 100vh;
    background: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position: center;
    z-index: -1;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(119.11deg, rgba(13, 50, 146, 0.96) 10.18%, rgba(148, 35, 237, 0.5856) 90.78%);
        z-index: 1;
        width: 100%;
        height: 100vh;
    }
}

.h-row {
    z-index: 9;

    .h-titles {
        z-index: 9;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    $stroke-color: whitesmoke;

    .h-title {
        max-width: 600px;
    }

    .Strokeme {
        color: black;
        font-weight: 800;
        text-shadow:
            -1px -1px 0 $stroke-color,
            1px -1px 0 $stroke-color,
            -1px 1px 0 $stroke-color,
            1px 1px 0 $stroke-color;
        font-size: 900;
        font-size: 4rem;
    }

    @supports((text-stroke: 2px $stroke-color) or (-webkit-text-stroke: 2px black)) {
        .Strokeme {
            color: transparent;
            -webkit-text-stroke: 1px $stroke-color;
            text-stroke: 1px $stroke-color;
            text-shadow: none;
        }
    }

    .Subtitle {

        font-weight: lighter;
        color: whitesmoke;
        font-weight: 100;
        font-size: 1.5em;
        letter-spacing: -1px;
    }
}



.vl {
    z-index: 9;
    border-left: 3px solid white;
    height: 100%;
    position: absolute;
    right: 15%;
    margin-left: 0px;
    top: 0;
    display: none;

    @media (min-width: $screen-md) {
        display: block;
    }
    
    .vlinks {
        position: absolute;
        background-color: whitesmoke;
        bottom: 80px;
        width: 100%;

        .vlink {
            color: white;
            padding: 7px;
            text-decoration-line: none;
            float: left;
            transform: rotate(90deg);
            transform-origin: 25% 0%;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }


}

// animated wave styles

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    z-index: 3;
}

body {
    overflow-x: hidden;
}


.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

