
.infoSection {

    .circleLogo {
        font-size: 3rem;
        padding: 5px;
        margin-right: 10px;
        background-color: #0D3292;
        border-radius: 50%;
        min-width: 80px;
        text-align: center;
        background: radial-gradient(circle at bottom center, #0D3292 45px, rgb(58, 0, 219));
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .infoBox{
        margin-bottom: 50px;
        
        @media (min-width: $screen-sm) {
            margin-bottom: 0px;
        }
    }

    .outlinedCircle {
        background-color: transparent;
        border: 2px solid #0D3292;

        i {
            color: white;
        }
    }

    .coverLetter {
        font-weight: 600 !important;
    }
}

.numberInfo {
    font-size: 2rem;
    text-align: left;
    font-weight: bold !important;
}