/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   */
    /* _settings.scss */
    /* 
        @author: Robwert Mota
        @website: http://arentus.github.io
    */

    // File to set color scheme, breakpoints, font-sizes, font-family, etc. */

    /* COLOR SCHEME --- arentus.github.io */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   */

//*~ Variables for color Scheme

// deciding ... 
$primary-color: #0D3292;
$secondary-color: #2374ED;
//*~ Breakpoints min-widths

$screen-jumbo:               1600px;
$screen-xl:                  1400px;
$screen-lg:                  1200px;
$screen-md:                  992px;
$screen-sm:                  768px;
$screen-xs:                  480px;

// Fonts

$default-font: 'Montserrat', sans-serif;