@import 'base.scss';
@import 'settings.scss';

@import 'header.scss';
@import 'nav.scss';

@import 'infoSection.scss';
@import 'workSection.scss';
@import 'skillSection.scss';

@import 'footer.scss';

body {
    background: $black;
    color: white;
    font-family: $default-font;
}

// cursor styles

.container {
    padding: 4rem;
}

.cursor {
    pointer-events: none;
    // hide in mobile
    display: none;

    @media (min-width: $screen-md) {
        display: block;
    }

    &__ball {
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        z-index: 9999999;

        circle {
            fill: #f7f8fa;
        }
    }
}

.element {
    transform: translateY(var(--translateY));
    will-change: translateY;
    transition: .1s;

}

.imagesCollage {
    position: relative;
}

.frontWork {
    width: 50%;
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 1;
}

.backWork {
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    transition: .2s;

    &:hover {
        filter: grayscale(0) !important;
    }
}

.wrapperShapes {
    position: relative;
}

.middleSphereRight {
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: -1;
}

.middleSphereLeft {
    position: absolute;
    left: 0px;
    top: 50%;
    z-index: -1;
}

.bottomShapeLeft {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -2;
}

.hideMobile {
    display: none;

    @media (min-width: $screen-md) {
        display: block;
    }
}

.hideDesktop {
    display: block;

    @media (min-width: $screen-md) {
        display: none;
    }
}


.bottomSphereRight {
    position: absolute;
    right: 0px;
    bottom: 0;
    z-index: -1;

}

.squareRight {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.linearGradient {
    background: linear-gradient(180deg, #0D3292 0%, #2374ED 100%);
}

.linearGradientAlt {
    background: linear-gradient(180deg, $primary-color 0%, $secondary-color 50%);
}

.linearGradientBlack {
    background: linear-gradient(180deg, #171717 13.99%, #0F0F0F 97.48%);
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}