/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   */
/* _settings.scss */
/* 
        @author: Robwert Mota
        @website: http://arentus.github.io
    */
/* COLOR SCHEME --- arentus.github.io */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   */
.h-wrapper {
  height: 100vh;
  background: url("../img/code.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
.h-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(119.11deg, rgba(18, 197, 91, 0.91) 10.18%, rgba(13, 50, 146, 0.96) 90.78%);
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.socialFeed {
  position: absolute;
  bottom: 20px;
  z-index: 3;
}
.socialFeed .list {
  z-index: 3;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.socialFeed .list a {
  color: white;
}
.socialFeed .list a i {
  padding: 10px;
  font-size: 1.5em;
}
.socialFeed .list a:hover {
  color: #058c42;
}

.h-row {
  z-index: 2;
}
.h-row .h-titles {
  z-index: 3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h-row .h-title {
  max-width: 600px;
}
.h-row .Strokeme {
  color: black;
  font-weight: 800;
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
  font-size: 900;
  font-size: 4rem;
}
@supports (text-stroke: 2px whitesmoke) or (-webkit-text-stroke: 2px black) {
  .h-row .Strokeme {
    color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
    text-stroke: 1px whitesmoke;
    text-shadow: none;
  }
}
.h-row .Subtitle {
  font-weight: lighter;
  color: whitesmoke;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.vl {
  z-index: 9;
  border-left: 3px solid white;
  height: 100%;
  position: absolute;
  right: 15%;
  margin-left: 0px;
  top: 0;
  display: none;
}
@media (min-width: 992px) {
  .vl {
    display: block;
  }
}
.vl .vlinks {
  position: absolute;
  background-color: whitesmoke;
  bottom: 80px;
  width: 100%;
}
.vl .vlinks .vlink {
  color: white;
  padding: 7px;
  text-decoration-line: none;
  float: left;
  transform: rotate(90deg);
  transform-origin: 25% 0%;
  white-space: nowrap;
  text-transform: uppercase;
}

body {
  overflow-x: hidden;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgba(231, 237, 245, 0.15);
  top: -100px;
  animation: circle 15s infinite;
  transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%;
}

.bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 2s;
  animation-duration: 16s;
}

.bubbles li:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 4s;
  animation-duration: 13s;
}

.bubbles li:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 80%;
  animation-delay: 1s;
  animation-duration: 19s;
}

.bubbles li:nth-child(5) {
  width: 50px;
  height: 50px;
  left: 50%;
  animation-delay: 5s;
  animation-duration: 12s;
}

.bubbles li:nth-child(6) {
  width: 25px;
  height: 25px;
  left: 10%;
  animation-delay: 3s;
  animation-duration: 11s;
}

.bubbles li:nth-child(7) {
  width: 55px;
  height: 55px;
  left: 70%;
  animation-delay: 2.5s;
  animation-duration: 11s;
}

.bubbles li:nth-child(8) {
  width: 75px;
  height: 75px;
  left: 30%;
  animation-delay: 3.5s;
  animation-duration: 11s;
}

@keyframes circle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1080px) rotate(800deg);
    transform: translateY(1080px) rotate(800deg);
  }
}
/** styles for navbar */
.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  line-height: 80px;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .nav {
    border-bottom: none;
  }
}
.nav .logo {
  float: left;
  width: auto;
  height: auto;
}
.nav .logo a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}
.nav .logo a:hover {
  color: whitesmoke;
}
.nav .main_list {
  float: right;
}
.nav .main_list ul {
  width: 100%;
  height: 80px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav .main_list ul li {
  width: auto;
  height: 80px;
  padding: 0;
  padding-right: 1rem;
}
.nav .main_list ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  line-height: 80px;
  font-size: 1.3rem;
  transition: 0.5s ease;
}

.nav {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.affix {
  background-color: white;
  padding: 0;
}
.affix .logo {
  float: left;
  width: auto;
  height: auto;
}
.affix .logo a {
  text-decoration: none;
  font-size: 2rem;
}
.affix .logo a:hover {
  color: black;
}
.affix .navTrigger i {
  background-color: black;
  mix-blend-mode: difference;
}

.navTrigger {
  display: none;
  transition: 0.5s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main_list ul li a:hover {
    /* background: rgba(22,33,22,0.3);
    border-radius: 100rem;*/
    border-radius: 0;
    border-bottom: 1px solid black;
  }
}
@media screen and (max-width: 2768px) {
  .navTrigger {
    display: block;
  }

  .nav div.logo {
    margin-left: 0px;
  }

  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 999;
    transition: 0.5s;
  }

  .show_list {
    height: 100vh !important;
    width: 100vw;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    left: 0;
    bottom: 0;
    background-color: #0e0e0e;
    /*same background color of navbar*/
    background-position: center top;
  }

  .nav div.main_list ul li {
    width: 100%;
    text-align: center;
    transition: 0.4s ease;
  }

  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 4vw;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .nav div.main_list ul li a:hover {
    text-align: center;
    width: 100%;
    background: white;
    color: black;
  }

  .nav div.media_button {
    display: block;
  }
}
/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
  cursor: pointer;
  width: 40px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 40px;
  top: 0px;
  bottom: 0;
  transform: rotate(180deg);
}

.navTrigger:hover i {
  width: 120%;
}

.navTrigger i {
  background-color: white;
  border-radius: 50px;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.8s;
  mix-blend-mode: difference;
  background-blend-mode: difference;
}

.navTrigger i:nth-child(1) {
  width: 80%;
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  mix-blend-mode: difference;
}

.navTrigger i:nth-child(2) {
  margin: 7px 0;
  width: 80%;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  width: 100%;
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  width: 100%;
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  width: 100%;
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  width: 100%;
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
.infoSection .circleLogo {
  font-size: 3rem;
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
  min-width: 80px;
  background-color: #058c42;
  text-align: center;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}
.infoSection .infoBox {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .infoSection .infoBox {
    margin-bottom: 0px;
  }
}
.infoSection .outlinedCircle {
  background-color: transparent;
  border: 2px solid #0D3292;
}
.infoSection .outlinedCircle i {
  color: white;
}
.infoSection .coverLetter {
  font-weight: 600 !important;
}

.numberInfo {
  font-size: 2rem;
  text-align: left;
  font-weight: bold !important;
}

.roleBoard .roleTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 8vw;
}
@media (min-width: 992px) {
  .roleBoard .roleTitle {
    font-size: 3.5vw;
  }
}

#BigTShape {
  fill: #058c42;
  transform: translateY(0px);
}

#wrapperITShape {
  transform: translateY(50px);
}

#InsideTShape {
  fill: #16db65;
}

#circle {
  color: white;
  position: relative;
  min-width: 500px;
  z-index: 8;
  height: 500px;
  overflow: hidden;
}

#circle text {
  color: white;
  font-weight: bold;
}

#circle svg {
  width: 100%;
  height: 100%;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -ms-animation-duration: 15s;
  -o-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
.button {
  border-radius: 7px;
  border: none;
  padding: 10px 55px;
  color: white;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.bgGreen {
  background-color: #058c42;
  transition: 0.3s;
}

.bgGreen:hover {
  background-color: #16db65;
  box-shadow: 0px 2px 7px #1b1b1b;
  border-bottom: 4px solid #058c42;
  transform: translateY(-4px);
}

.blackButton:hover {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
}

.projectList .projectTitle {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1em;
}
.projectList .projectImage {
  background: white;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.4);
  min-height: 250px;
  min-width: 250px;
  border-radius: 3px;
  background-position: center;
}
.projectList .projectDescription {
  padding: 3em 0em !important;
  border-radius: 0 5px 5px 0;
  transition: 0.5s;
}
@media (min-width: 992px) {
  .projectList .projectDescription {
    padding: 4em !important;
  }
}
.projectList .skillsSet {
  padding: 0;
  margin: 0;
  margin-left: -1 0px;
  margin-bottom: 20px;
}
.projectList .skillsSet .skill {
  border: 1px solid white;
  border-radius: 100px;
  display: inline-block;
  margin: 1px;
  font-size: 0.78rem;
  padding: 3px 7px;
}

.three-dots {
  font-size: 10rem;
}

.skillsPresentation {
  padding-left: 0px;
  padding-right: 0px;
}
.skillsPresentation .skillMsg {
  font-size: 12vw;
  text-align: center;
  font-weight: 800;
}
@media (min-width: 992px) {
  .skillsPresentation .skillMsg {
    font-size: 5vw;
    text-align: left;
  }
}

.skillsSection {
  display: flex;
  justify-content: center;
}
.skillsSection p {
  padding-top: 5px;
}
.skillsSection .wrapperSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 55px;
  padding: 20px;
  height: 100px;
  width: 100px;
  border: 0px solid white;
}
@media (min-width: 992px) {
  .skillsSection .wrapperSkill {
    border: 0px solid white;
  }
}
.skillsSection .html5:hover {
  border-color: #EC6231;
}
.skillsSection .html5:hover .skillIcon {
  color: #EC6231;
}
.skillsSection .html5:hover p {
  color: #EC6231;
}
.skillsSection .css3:hover {
  border-color: #2965f1;
}
.skillsSection .css3:hover .skillIcon {
  color: #2965f1;
}
.skillsSection .css3:hover p {
  color: #2965f1;
}
.skillsSection .js:hover {
  border-color: #F0DB4F;
}
.skillsSection .js:hover .skillIcon {
  color: #F0DB4F;
}
.skillsSection .js:hover p {
  color: #F0DB4F;
}
.skillsSection .bootstrap:hover {
  border-color: #553C7B;
}
.skillsSection .bootstrap:hover .skillIcon {
  color: #553C7B;
}
.skillsSection .bootstrap:hover p {
  color: #553C7B;
}
.skillsSection .react:hover {
  border-color: #61DBFB;
}
.skillsSection .react:hover .skillIcon {
  color: #61DBFB;
}
.skillsSection .react:hover p {
  color: #61DBFB;
}
.skillsSection .laravel:hover {
  border-color: #F05340;
}
.skillsSection .laravel:hover .skillIcon {
  color: #F05340;
}
.skillsSection .laravel:hover p {
  color: #F05340;
}
.skillsSection .vue:hover {
  border-color: #41B883;
}
.skillsSection .vue:hover .skillIcon {
  color: #41B883;
}
.skillsSection .vue:hover p {
  color: #41B883;
}
.skillsSection .nodejs:hover {
  border-color: #3C873A;
}
.skillsSection .nodejs:hover .skillIcon {
  color: #3C873A;
}
.skillsSection .nodejs:hover p {
  color: #3C873A;
}
.skillsSection .npm:hover {
  border-color: #CC3534;
}
.skillsSection .npm:hover .skillIcon {
  color: #CC3534;
}
.skillsSection .npm:hover p {
  color: #CC3534;
}
.skillsSection .git:hover {
  border-color: #f15135;
}
.skillsSection .git:hover .skillIcon {
  color: #f15135;
}
.skillsSection .git:hover p {
  color: #f15135;
}
.skillsSection .github:hover {
  border-color: #1b1b1b;
}
.skillsSection .github:hover .skillIcon {
  color: #1b1b1b;
}
.skillsSection .github:hover p {
  color: #1b1b1b;
}
.skillsSection .stripe:hover {
  border-color: #32325d;
}
.skillsSection .stripe:hover .skillIcon {
  color: #32325d;
}
.skillsSection .stripe:hover p {
  color: #32325d;
}
.skillsSection .skillIcon {
  text-align: center;
  font-size: 3em;
}
.skillsSection .skillTitle {
  padding: 5px;
  text-align: center;
  font-size: 1rem;
}

#bSISS {
  position: absolute;
  top: 250px;
  left: 120px;
  z-index: -1;
  animation-name: floatBouncing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -moz-animation-name: floatBouncing;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
}
@media (min-width: 992px) {
  #bSISS {
    top: 20px;
    left: 120px;
  }
}

@keyframes floatBouncing {
  0% {
    transform: translate(60px, -80px);
  }
  50% {
    transform: translate(30px, 0px);
  }
  100% {
    transform: translate(60px, -80px);
  }
}
.contactWrapper {
  background-color: #131313;
  background-color: #131313;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
.contactWrapper .labelContact {
  font-size: 2rem;
  font-weight: 600;
}
.contactWrapper .contactHelp {
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  color: #7a7a7a;
}
.contactWrapper .form-control {
  background: #2e2e2e;
  border-radius: 5px !important;
  border: none;
  color: #7a7a7a;
}

.circle,
.circle-border {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.circle {
  z-index: 1;
  position: relative;
  background: #0f0f0f;
  transform: scale(1);
  animation: success-anim 700ms ease;
}

.circle-border {
  z-index: 0;
  position: absolute;
  background: #058c42;
  transform: scale(1.1);
  animation: circle-anim 400ms ease;
}

@keyframes success-anim {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circle-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}
.success::before,
.success::after {
  content: "";
  display: block;
  height: 4px;
  background: #058c42;
  position: absolute;
}

.success::before {
  width: 17px;
  top: 58%;
  left: 23%;
  transform: rotateZ(50deg);
}

.success::after {
  width: 30px;
  top: 50%;
  left: 35%;
  transform: rotateZ(-50deg);
}

.footer {
  padding-left: 10%;
  height: 50vh;
  padding-top: 10%;
  background-color: #060606;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  padding-right: 10%;
}
.footer .footerMsg {
  font-size: 3rem;
  font-weight: 800;
}
.footer .footerEmail {
  color: #c1c1c1;
  font-weight: 800;
}
.footer .socialLinks i {
  font-size: 2rem;
  color: white;
  padding: 15px;
}

body {
  background: #020202;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 4rem;
}

.cursor {
  pointer-events: none;
  display: none;
}
@media (min-width: 992px) {
  .cursor {
    display: block;
  }
}
.cursor__ball {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 9999999;
}
.cursor__ball circle {
  fill: #f7f8fa;
}

.element {
  transform: translateY(var(--translateY));
  will-change: translateY;
  transition: 0.1s;
}

.imagesCollage {
  position: relative;
}

.frontWork {
  width: 50%;
  position: absolute;
  right: 20px;
  top: 0px;
  z-index: 1;
}

.backWork {
  width: 100%;
  margin: 0 auto;
  z-index: -1;
  transition: 0.2s;
}
.backWork:hover {
  filter: grayscale(0) !important;
}

.wrapperShapes {
  position: relative;
}

.middleSphereRight {
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: -1;
}

.middleSphereLeft {
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: -1;
}

.bottomShapeLeft {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -2;
}

.hideMobile {
  display: none;
}
@media (min-width: 992px) {
  .hideMobile {
    display: block;
  }
}

.hideDesktop {
  display: block;
}
@media (min-width: 992px) {
  .hideDesktop {
    display: none;
  }
}

.bottomSphereRight {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: -1;
}

.squareRight {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.linearGradient {
  background: linear-gradient(180deg, #0d3292 0%, #2374ed 100%);
}

.linearGradientAlt {
  background: linear-gradient(180deg, #058c42 0%, #16db65 50%);
}

.linearGradientBlack {
  background: linear-gradient(180deg, #171717 13.99%, #0f0f0f 97.48%);
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.bigTitle {
  font-size: 1.5rem;
}

.underBorderedTitle {
  font-size: 3rem;
  font-weight: 600;
}

.underBorderedTitle:after {
  background: none repeat scroll 0 0 #058c42;
  bottom: -10px;
  content: "";
  display: block;
  height: 15px;
  position: relative;
  width: 150px;
}

/*# sourceMappingURL=styles.css.map */
