@import 'settings.scss';
@import 'nav.scss';
@import 'header.scss';
@import 'heroQuote.scss';
@import 'speechSection.scss';
@import 'reviews.scss';
@import 'brandsSection.scss';
@import 'activateSection.scss';
@import 'forms.scss';
@import 'howWorkSection.scss';
@import 'joinEnqueue.scss';

body {
    background-color: $altBlack;
    color: white;
    font-family: $primary-font;
}

.spacer {
    height: 100px;

}

.fontBold {
    font-weight: bold;
}

.primaryTitle {
    font-size: 3rem;

    font-weight: bold;
}

.link {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.bgPrimaryColor {
    background-color: $primary-color;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}


.bottomShapeRight {
    position: absolute;
    right: 0px;
    bottom: 0;
    z-index: -1;

}

.bottomShapeLeft {
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: -1;

}

.reviewsContent {
    position: relative;
}

.underBorderedTitle:after {
    background: none repeat scroll 0 0 $primary-color;
    bottom: -10px;
    content: "";
    display: block;
    height: 25px;
    position: relative;
    width: 200px;
}

.bigBtn {
    font-size: 2em;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.featuresSection {
    .row {
        position: relative;
    }

    .svgShape {
        width: 300px;
        height: 300px;
    }
}

/////@extend