/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   */
/* _settings.scss */
/* 
    @author: Robwert Mota
    @website: DevCore
*/
/* COLOR SCHEME ---  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   */
.nav {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 70px;
  background-color: rgba(21, 21, 21, 0.8);
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 99;
}
@media (max-width: 768px) {
  .nav {
    position: static;
  }
}
.nav .logo {
  padding: 15px;
}
.nav .logo a {
  color: white;
}
.nav .loginButton {
  background-color: #006AFE;
  padding: 15px 30px;
  border-left: 0px solid white;
}
.nav .loginButton a {
  color: white;
}

.header {
  position: relative;
  height: 100vh;
}
.header #myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}
@media (max-width: 992px) {
  .header {
    position: static;
    height: 100%;
  }
  .header #myVideo {
    position: static;
    width: 100%;
    height: auto;
  }
}
.header .headerContent {
  flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .header .headerContent {
    height: 100vh;
  }
}
.header .reminderInvitation {
  padding: 30px 60px;
  min-height: auto;
  background: #2B2B2B;
  width: 365px;
}
@media (max-width: 992px) {
  .header .reminderInvitation {
    text-align: center;
  }
}
.header .reminderInvitation .reminderTitle {
  font-size: 2em;
  font-weight: bold;
}
.header .reminderInvitation p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}
.header a {
  color: white;
}
.header .activateContainer {
  position: absolute;
  bottom: 0;
  padding: 12px;
  background-color: #006AFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: left;
  padding-left: 50px;
}
@media (max-width: 992px) {
  .header .activateContainer {
    position: static;
    display: inline-block;
    background-color: #006AFE;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
  }
  .header .activateContainer h3 {
    font-size: 0.3rem;
  }
}
.header .activateContainer h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.speechSection .divSpeech {
  background-color: #006AFE;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23151515' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5% 8%;
  text-align: center;
  height: 100%;
}
.speechSection .divSpeech p {
  font-size: 1.7rem;
}

.bannerImage {
  background-attachment: fixed;
  min-height: 100%;
  background-position: center center;
}

.reviewsSection {
  margin-top: 120px;
}
.reviewsSection .reviewsTitle i {
  font-size: 3rem;
}
.reviewsSection .reviewsTitle .checkCircle {
  background-color: #006AFE;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0px 10px 5px #151515;
}
.reviewsSection .reviewsTitle h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
}
.reviewsSection .photoReview {
  border-radius: 1000px;
  height: 130px;
  width: 130px;
}

.swiper-container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 380px;
  background-color: #1B1B1B;
  overflow: hidden;
  border-radius: 5px;
}

.picture {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail {
  padding: 25px 20px;
  font-weight: 600;
  text-align: center;
}
.detail h3 {
  margin: 0;
  font-size: 20px;
}
.detail span {
  font-style: normal;
  font-weight: normal;
  color: #b8b8b8;
}

.brandsSection {
  background-color: #F4F4F4;
  color: black;
  position: relative;
}
@media (max-width: 992px) {
  .brandsSection {
    border-radius: 0px 0px 100px 100px;
  }
}
.brandsSection .brandsTitleWrapper {
  position: absolute;
  height: 100px;
  left: 50%;
}
@media (max-width: 992px) {
  .brandsSection .brandsTitleWrapper {
    left: 0;
    height: 0;
  }
}
.brandsSection .brandsTitleWrapper h3 {
  text-transform: uppercase;
  position: relative;
  top: -30px;
  background-color: #006AFE;
  left: -50%;
  color: white;
  font-size: 2rem;
  width: 100%;
  font-weight: 700;
  padding: 20px 100px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .brandsSection .brandsTitleWrapper h3 {
    position: relative;
    left: 20px;
    display: inline-block;
    top: -30px;
    font-size: 1.6rem;
    width: 100%;
    padding: 20px 20px;
  }
}

.partnersRow {
  position: relative;
  z-index: 1;
}
.partnersRow .partner {
  display: flex;
  justify-content: center;
  text-align: center;
}
.partnersRow .partner i {
  font-size: 4rem;
  margin: 20px;
  color: #242424;
}

.svgDeco1 {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.activateSection {
  position: relative;
}
.activateSection h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
}
@media (max-width: 992px) {
  .activateSection h3 {
    font-size: 3rem;
  }
}
.activateSection .form-control {
  font-size: 3vw;
  padding-left: 20px;
}
@media (max-width: 992px) {
  .activateSection .form-control {
    font-size: 1.5rem;
  }
}
.activateSection .blueSphere {
  z-index: 1;
  fill: linear-gradient(180deg, #006AFE 0%, #006afe 100%);
  transform: translate(-20px, -120px);
  transition: 1s ease-in-out;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translate(-20px, -120px);
  }
  50% {
    transform: translate(-40px, -90px);
  }
  100% {
    transform: translate(-20px, -120px);
  }
}
.activateSection .whiteSphere {
  transform: translate(-50px, -20px);
}

.form-control {
  border-radius: 3px;
  border: none;
}

.stepContent .wrapperImage {
  background-size: cover;
  background-position: center;
  padding: 100px 50px;
  border-radius: 5px;
}
.stepContent .wrapperImage h5 {
  background-color: rgba(43, 43, 43, 0.1);
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
}
.stepContent .wrapperImage h2 {
  background: #1B1B1B;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
  color: #006AFE;
}
.stepContent .wrapperImage p {
  background-color: rgba(43, 43, 43, 0.1);
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
}

.formWrapper {
  padding-left: 20%;
  padding-right: 20%;
}

body {
  background-color: #151515;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.spacer {
  height: 100px;
}

.fontBold {
  font-weight: bold;
}

.primaryTitle {
  font-size: 3rem;
  font-weight: bold;
}

.link {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.bgPrimaryColor {
  background-color: #006AFE;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.bottomShapeRight {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: -1;
}

.bottomShapeLeft {
  position: absolute;
  left: 0px;
  bottom: 0;
  z-index: -1;
}

.reviewsContent {
  position: relative;
}

.underBorderedTitle:after {
  background: none repeat scroll 0 0 #006AFE;
  bottom: -10px;
  content: "";
  display: block;
  height: 25px;
  position: relative;
  width: 200px;
}

.bigBtn {
  font-size: 2em;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.featuresSection .row {
  position: relative;
}
.featuresSection .svgShape {
  width: 300px;
  height: 300px;
}

/*# sourceMappingURL=styles.css.map */
