@charset "UTF-8";
/*
    author: @Robwert Mota
    start date: 20/11/2019

*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/*
    author: @Robwert Mota
    start date: 20/11/2019

*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/* color palette */
b {
  font-size: 1rem;
  font-weight: 800;
}

body {
  font-family: "Open Sans", sans-serif;
}
body .hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body p {
  font-weight: normal;
}
body a {
  color: #0a78b3;
  font-weight: 700;
}
body .fullbtn {
  width: 100%;
}
body .btn {
  border-radius: 0px;
  white-space: normal;
  background: #dddddd;
  border: none;
  font-weight: 800;
  border-radius: 0px;
  color: black;
  transition: all ease 0.1s;
}
body .orange {
  background: #e45424;
  color: white;
  border-color: #e45424;
}
body .orange:hover {
  background-color: #be4117;
}
body .blue {
  background: #01a2b6;
  color: white;
}
body .blue:hover {
  background-color: #075883;
}
body .green {
  background: #588d32;
  color: white;
}
body .green:hover {
  background-color: #416725;
}
body .yellow {
  background: #eaa22e;
  color: black;
}
body .yellow:hover {
  background-color: #d08815;
}
body .grey {
  background: #dddddd;
  color: black;
}
body .grey:hover {
  background-color: #c4c4c4;
}
body .darkgrey {
  background: #3c3c3c;
  color: white;
}
body .darkgrey:hover {
  background-color: #232323;
}
body h1 {
  font-size: 39px;
  font-weight: 800;
}
body h2 {
  font-size: 30px;
  font-weight: 700;
}
body h3 {
  font-size: 27px;
  font-weight: 700;
}
body h4 {
  font-size: 24px;
  font-weight: 700;
}
body h5 {
  font-size: 21px;
  font-weight: 700;
}
body h6 {
  font-size: 18px;
  font-weight: 700;
}
body blockquote {
  border-left: 0.5em solid #e45424;
  padding-left: 0.99em;
  padding-top: 0em;
  padding-bottom: 0em;
  font-weight: bold !important;
}
body blockquote p {
  font-weight: normal;
  line-height: 1.4em;
}
body blockquote .author {
  font-weight: 800;
}
body .heading-presenter-wrapper {
  padding: 0.8em 0em;
}
body .heading-presenter-wrapper span {
  color: #3c3c3c;
}
body em {
  border-left: 0.5em solid #3c3c3c;
  font-style: normal;
  background: #dddddd;
  font-weight: 700;
  display: block;
  padding: 1em;
  font-size: 1em;
  color: black;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
body .em-orange {
  background-color: #f7dcd4;
  border-left-color: #e45424 !important;
}
body .em-yellow {
  background-color: #fbecd5;
  border-left-color: #eaa22e !important;
}
body .em-green {
  background-color: #e3f0d9;
  border-left-color: #588d32 !important;
}
body .em-blue {
  background-color: #ccecf0;
  border-left-color: #0a78b3 !important;
}
body .content-title {
  font-size: 29px;
}
body .bold-text {
  font-weight: 800;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10vw;
  padding-top: 8vw;
  padding-left: 15vw;
  padding-right: 15vw;
  background: url("../learning_centre_assets/homepagebanner_dark.png");
  background-size: cover;
  position: relative;
  /*What news : collectdigital ... */
}
.main-header .popular-topics-button-home {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-left: 10px;
  background: transparent !important;
  border: 2px solid white !important;
  color: white !important;
  font-weight: 700;
  white-space: nowrap;
}
.main-header .row {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.main-header .header-news {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  text-align: center;
  background: rgba(33, 33, 33, 0.5);
  z-index: 2;
}
.main-header .header-news span {
  color: #e45424;
}
.main-header .header-news p {
  padding: 10px;
  margin: 0;
  margin-bottom: 0px;
}

.nav-search {
  padding: 1.5vw 8vw;
  z-index: 3;
  width: 100%;
}
.nav-search .navbar-nav {
  width: 100%;
}
.nav-search .navbar-nav form {
  min-width: 80%;
}

.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: rgba(33, 33, 33, 0.1);
  z-index: 0;
}

.header-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .header-input .wrapper-i-search {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .header-input .wrapper-i-search {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .header-input .wrapper-i-search {
    width: 85%;
  }
}
.header-input .search-bar {
  font-size: 0.9em;
  border: none;
  width: 100%;
  padding: 1em;
  color: black;
}
.header-input .searchBox {
  height: 52px;
}
.header-input .searchInput {
  background-image: url("../learning_centre_assets/search_icon.svg");
  background-repeat: no-repeat;
  height: 50px;
  background-size: 24px 24px;
  background-position: left 20px center;
  padding: 0.33333rem 0.77778rem 0.33333rem 3.55556rem;
}
.header-input .search-bar::-webkit-input-placeholder {
  color: black;
}
.header-input .search-bar::-moz-placeholder {
  color: black;
}
.header-input .search-bar:-ms-input-placeholder {
  color: black;
}
.header-input .search-bar::-ms-input-placeholder {
  color: black;
}
.header-input .search-bar::placeholder {
  color: black;
}
.header-input .search-button {
  width: 20%;
  font-size: 1em;
  letter-spacing: 0.8px;
  font-weight: 700;
}
.header-input .search-button:hover {
  cursor: pointer;
  background-color: #f64b12;
  border-color: #f64b12;
}
.header-input .search-button:active,
.header-input .search-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f64b12;
  border-color: #f64b12;
  color: white;
}
.header-input .form-control {
  border-radius: 0px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.975em;
  height: 2.975em;
  line-height: 2.975em;
  text-align: center;
  pointer-events: none;
  color: black;
}

.popular-topics-button {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-left: 10px;
  background: transparent !important;
  border: 2px solid white !important;
  color: white !important;
  font-weight: 700;
  cursor: pointer;
}

.brand-msg {
  color: white;
  padding-top: 2rem;
  text-shadow: 0px 2px 0px #212121;
  font-size: 2.2vw;
  font-weight: 700;
  letter-spacing: 0.8px;
}

/**/
.welcome-section {
  background: #f7f7f7;
  text-align: center;
  padding-top: 1.5vw;
  padding-bottom: 2vw;
  padding-left: 15vw;
  padding-right: 15vw;
}

/* content.html */
.features-content {
  padding-left: 0em !important;
  padding-right: 0em !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

.header-content {
  position: relative;
  height: 50vh;
  background: url("../learning_centre_assets/interior_banner.png");
  background-position: 100%;
  background-size: cover;
  padding: 0 !important;
}

.search-fixed-bar {
  z-index: 5;
  top: 0;
  position: fixed;
  background: rgba(22, 22, 23, 0.9);
}

.search-block-bar {
  background: #333333;
}

.breadcrumb {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.breadcrumb .breadcrumb-links a {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.breadcrumb .breadcrumb-links a:hover {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}
.breadcrumb .breadcrumb-links a:after {
  font-weight: 300;
  content: " / ";
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}
.breadcrumb p,
.breadcrumb span {
  font-size: 1em;
  font-weight: 700;
  color: #0a78b3;
}

.controls a {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}
.controls a img {
  max-width: 50px;
  max-width: 50px;
}

.welcome-title {
  font-size: 29px;
}

@media screen and (max-width: 768px) {
  /*scroll down animation only in tablets and mobiles*/
  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 70px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
  }

  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0% {
      -webkit-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @-moz-keyframes fade_move_down {
    0% {
      -moz-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes fade_move_down {
    0% {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  .header-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-input .wrapper-i-search {
    width: 100%;
    margin-bottom: 10px;
  }
  .header-input .search-bar {
    min-width: 70%;
  }
  .header-input .search-button {
    min-width: 30% !important;
    display: block;
  }
  .header-input .popular-topics-button-home {
    display: block;
    margin-left: 0px;
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .nav-search .navbar-collapse {
    padding-top: 15px;
  }

  .popular-topics-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.7em;
    width: auto;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 0px !important;
  }

  .nav-logo {
    width: 150px;
  }

  .header-content {
    position: relative;
    height: 50vh;
    background: url("../learning_centre_assets/interior_banner.png");
    background-position: 100%;
    background-size: cover;
    padding: 0 !important;
  }

  .has-search .search-bar {
    padding-left: 2.925rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.925rem;
    height: 2.925rem;
    line-height: 2.925rem;
    text-align: center;
    pointer-events: none;
    color: black;
  }

  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .main-header .header-news {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    background: rgba(33, 33, 33, 0.5);
  }
  .main-header .header-news span {
    color: #e45424;
  }
  .main-header .header-news p {
    padding: 6px;
    margin: 0;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
  }
  .main-header .search-button {
    width: 30%;
  }

  .popular-topics-button-mobile {
    display: block;
    margin: 10px;
    padding: 0.6em 1em;
  }

  .brand-msg {
    color: white;
    padding-top: 0rem;
    text-shadow: 0px 1px 0px #212121;
    font-size: 1rem;
  }

  .header-news {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
  }
}
.features-wrapper {
  padding-top: 3em;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 3em;
}
.features-wrapper .grid-element .icon {
  color: #e45424;
  font-size: 1.7em;
  font-weight: 400;
}
.features-wrapper .grid-element .icon img {
  width: 14%;
  margin-bottom: 12px;
}
.features-wrapper .grid-element h2 {
  color: #0b7fbc;
  font-weight: 800;
  font-size: 19px;
}
.features-wrapper .grid-element h2 a {
  color: #0b7fbc;
}
.features-wrapper .grid-element h2 a[target=_blank]:after {
  content: "";
  transition: all 0.25s;
  font-size: 0.7em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 7px;
  display: inline;
}
.features-wrapper .grid-element p {
  font-size: 1em;
}
.features-wrapper .grid-element {
  padding: 20px;
  border-right: 2px solid rgba(233, 233, 233, 0.5);
  box-shadow: 0px 24px 1px -24px #3c3c3c;
}
.features-wrapper .grid-element:nth-last-child(1) {
  border-right: none;
}
.features-wrapper .nb-bottom {
  box-shadow: none !important;
}

.content-wrapper {
  padding: 1vw 8vw;
}

@media screen and (max-width: 1720px) {
  .features-wrapper .grid-element:nth-child(3n) {
    border-right: none;
  }
}
@media screen and (max-width: 992px) {
  .features-wrapper .grid-element {
    text-align: center;
    padding: 20px;
    border-right: 2px solid rgba(233, 233, 233, 0.5);
    box-shadow: 0px 24px 1px -24px #3c3c3c;
  }
  .features-wrapper .grid-element:nth-child(3n) {
    border-right: 2px solid rgba(233, 233, 233, 0.5);
  }
  .features-wrapper .grid-element:nth-child(2n) {
    border-right: none;
  }
}
@media screen and (max-width: 768px) {
  .grid-element {
    border-right: none !important;
  }

  .features-wrapper {
    padding-top: 3em;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3em;
  }
}
.features-boxes-wrapper a:hover {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}
.features-boxes-wrapper .overlay {
  position: relative;
}
.features-boxes-wrapper .overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(33, 33, 33, 0.8);
  z-index: 0;
}
.features-boxes-wrapper .card:hover .overlay {
  opacity: 0.8;
  background: rgba(33, 33, 33, 0.1);
}
.features-boxes-wrapper .col-lg-4 {
  padding: 8px;
}
.features-boxes-wrapper .card {
  border-radius: 0px;
  -webkit-box-shadow: 0px -1px 5px rgba(33, 33, 33, 0.1);
  box-shadow: 0px -1px 5px rgba(33, 33, 33, 0.1);
  position: relative;
}
.features-boxes-wrapper .card .badge-card {
  position: absolute;
  top: -10px;
  right: 10px;
  padding: 5px;
  background: #e45424;
  color: white;
  z-index: 10;
}
.features-boxes-wrapper .hoverable-card {
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}
.features-boxes-wrapper .hoverable-card:hover {
  -webkit-box-shadow: 0 8px 6px -6px rgba(33, 33, 33, 0.2);
  box-shadow: 0 8px 6px -6px rgba(33, 33, 33, 0.2);
}
.features-boxes-wrapper .hoverable-card:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.features-boxes-wrapper .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.features-boxes-wrapper .card-body h5 {
  font-size: 1em;
}
.features-boxes-wrapper .card-img-top {
  border-radius: 0px;
  min-height: 150px;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}
.features-boxes-wrapper .feature-box {
  height: 100%;
  background: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.footer {
  padding: 1.5vw 5vw;
  background: white;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border-bottom: 1px solid #dddddd;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 1em;
  font-weight: 700;
}
.footer-links .link {
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  color: #0a78b3 !important;
}
.footer-links li a {
  font-weight: 700;
  color: #0a78b3 !important;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  color: #3c3c3c !important;
}
.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.social-icons li {
  color: #3c3c3c !important;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}
.social-icons li i {
  color: #3c3c3c !important;
}

.social-icon {
  color: black;
}

.footer-msg {
  font-size: 1.1em;
  color: #dddddd;
}

@media screen and (max-width: 980px) {
  .footer-wrapper {
    margin: 0;
  }

  .footer-links {
    display: block;
    padding: 0;
    margin: 0;
  }
  .footer-links .link {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
    padding: 1px;
    display: block;
    text-align: center;
    color: #0a78b3 !important;
    overflow-wrap: break;
    white-space: normal !important;
  }

  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    color: #3c3c3c !important;
  }
  .social-icons ul {
    color: black !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .social-icons li {
    color: black !important;
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
  }

  .footer-msg {
    text-align: center;
    color: darkgrey;
    font-size: 1.2em;
  }
}
/**/
.help-section {
  background: #333333;
  color: white;
  padding: 3rem 6rem;
}
.help-section .help-div {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}
.help-section .help-div .title {
  font-size: 40px;
  font-weight: 300;
}
.help-section .help-div .sub-text {
  font-size: 16px;
  font-weight: normal;
}

.contact-info {
  padding: 1em 5em 2em 2em;
  font-size: 1em;
}
.contact-info h2 {
  font-weight: 300 !important;
}
.contact-info .icon {
  padding-right: 0.6em;
  font-size: 1.5rem;
  font-weight: 400;
}
.contact-info div a {
  font-size: 20px;
  font-weight: normal;
  color: white;
}
.contact-info div {
  padding-right: 20px;
  border-right: 1px solid grey;
}
.contact-info div:nth-last-child(1) {
  border-right: none;
}

@media screen and (max-width: 769px) {
  .help-section {
    padding: 2rem;
  }

  .contact-info {
    padding: 0;
    font-size: 1em;
    text-align: justify;
  }
  .contact-info .icon {
    padding-right: 20px;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .contact-info div a {
    color: white;
    white-space: nowrap;
  }
  .contact-info div {
    padding: 1em 0.2em;
    margin: 0;
    text-align: justify-all;
  }
  .contact-info div:nth-child(1) {
    border-right: 1px solid grey;
  }
  .contact-info div:nth-child(2) {
    border: none;
  }
  .contact-info div:nth-last-child(1) {
    border-right: none;
  }
}
@media screen and (max-width: 425px) {
  .contact-info {
    padding: 0;
  }
  .contact-info div {
    background: #3c3c3c;
    padding: 1.2em;
    margin-bottom: 5px;
    border-right: none !important;
    border-bottom: none !important;
  }
}
.aside-list li:last-child {
  border-bottom: none !important;
}

.aside-links {
  background: #f7f7f7;
  padding: 0.5em 1em;
}
.aside-links hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 2px;
  background: #e45424;
}
.aside-links ul {
  padding: 0;
  list-style-type: none;
}
.aside-links a {
  font-size: 1em;
}
.aside-links ul li {
  padding: 0.5em 0em;
  border-top: 1px solid #dddddd;
  font-weight: 800;
}
.aside-links ul li a {
  color: #0a78b3;
}
.aside-links ul .typed-link:before {
  content: "▪";
  display: inline-block;
  padding-right: 10px;
}
.aside-links ul li:nth-last-child(1) {
  border-bottom: 1px solid #dddddd;
}

.aside-title {
  font-weight: 700;
}

.aside-subtitle {
  font-weight: 800;
  font-size: 1em;
  padding: 0;
  margin-bottom: 10px;
}

.aside-btn {
  background: #e5e5e5;
  width: 100%;
  font-size: 0.9em;
  display: block;
  padding: 0.6em 0.8em;
  margin-bottom: 5px;
  border: none;
  border-radius: 0px;
  color: black;
  transition: all ease 0.2s;
}

.aside-btn:hover {
  text-decoration-line: none;
}

.bb-g {
  border-bottom: 1px solid #dddddd;
}

.contact-us-wrapper p:nth-child(1) {
  margin-top: 25px;
}
.contact-us-wrapper p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden;
  /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #dddddd;
  /* this draws the table border  */
}

.table {
  border: 1px solid #dddddd;
}
.table thead {
  border-bottom: 5px solid #e45424 !important;
}
.table thead th {
  border: none;
}
.table thead:after {
  content: "";
  border-bottom: 10px solid #e45424 !important;
}
.table tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}
.table tfoot tr {
  background: #e45424;
  color: white;
}

/* color palette */
b {
  font-size: 1rem;
  font-weight: 800;
}

body {
  font-family: "Open Sans", sans-serif;
}
body .hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body p {
  font-weight: normal;
}
body a {
  color: #0a78b3;
  font-weight: 700;
}
body .fullbtn {
  width: 100%;
}
body .btn {
  border-radius: 0px;
  white-space: normal;
  background: #dddddd;
  border: none;
  font-weight: 800;
  border-radius: 0px;
  color: black;
  transition: all ease 0.1s;
}
body .orange {
  background: #e45424;
  color: white;
  border-color: #e45424;
}
body .orange:hover {
  background-color: #be4117;
}
body .blue {
  background: #01a2b6;
  color: white;
}
body .blue:hover {
  background-color: #075883;
}
body .green {
  background: #588d32;
  color: white;
}
body .green:hover {
  background-color: #416725;
}
body .yellow {
  background: #eaa22e;
  color: black;
}
body .yellow:hover {
  background-color: #d08815;
}
body .grey {
  background: #dddddd;
  color: black;
}
body .grey:hover {
  background-color: #c4c4c4;
}
body .darkgrey {
  background: #3c3c3c;
  color: white;
}
body .darkgrey:hover {
  background-color: #232323;
}
body h1 {
  font-size: 39px;
  font-weight: 800;
}
body h2 {
  font-size: 30px;
  font-weight: 700;
}
body h3 {
  font-size: 27px;
  font-weight: 700;
}
body h4 {
  font-size: 24px;
  font-weight: 700;
}
body h5 {
  font-size: 21px;
  font-weight: 700;
}
body h6 {
  font-size: 18px;
  font-weight: 700;
}
body blockquote {
  border-left: 0.5em solid #e45424;
  padding-left: 0.99em;
  padding-top: 0em;
  padding-bottom: 0em;
  font-weight: bold !important;
}
body blockquote p {
  font-weight: normal;
  line-height: 1.4em;
}
body blockquote .author {
  font-weight: 800;
}
body .heading-presenter-wrapper {
  padding: 0.8em 0em;
}
body .heading-presenter-wrapper span {
  color: #3c3c3c;
}
body em {
  border-left: 0.5em solid #3c3c3c;
  font-style: normal;
  background: #dddddd;
  font-weight: 700;
  display: block;
  padding: 1em;
  font-size: 1em;
  color: black;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
body .em-orange {
  background-color: #f7dcd4;
  border-left-color: #e45424 !important;
}
body .em-yellow {
  background-color: #fbecd5;
  border-left-color: #eaa22e !important;
}
body .em-green {
  background-color: #e3f0d9;
  border-left-color: #588d32 !important;
}
body .em-blue {
  background-color: #ccecf0;
  border-left-color: #0a78b3 !important;
}
body .content-title {
  font-size: 29px;
}
body .bold-text {
  font-weight: 800;
}

.accordion h5 {
  padding: 0;
  margin: 0;
}
.accordion .panel {
  background-color: #f7dcd4;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
}
.accordion a {
  color: black;
}
.accordion .collapsed {
  background: #dddddd;
  color: black;
}

/**/

/*# sourceMappingURL=output.css.map */
